.pagination {
	display: flex;
	gap: 2px;
}

.pagination .button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: black;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	width: 30px;
	height: 30px;
	border-radius: 2px;
	border: none;
	background-color: white;
}

.pagination .button:hover {
	background-color: #eee;
}

.pagination .button.active {
	background-color: #539ddf;
	color: white;
	pointer-events: none;
}

.pagination .button[disabled] {
	pointer-events: none;
	color: gray;
}
