.ability-cards {
	display: flex;
	flex-flow: column;
	align-items: start;
	flex-wrap: wrap;

	/* gap: 1.5em; */
	margin-bottom: 1.5em;
}

.ability-cards a {
	text-decoration: none;
	color: black;
}

.ability-cards a:hover {
	color: #61dafb;
}
