.pokemon-card {
	display: flex;
	flex-direction: column;
	border-radius: calc(0.5 * 30px);
	width: calc(5 * 30px);
	height: calc(7 * 30px);
	text-decoration: none;
	color: black;
	padding: 7px;
	background-color: #fff;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

.name {
	font-weight: bold;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: fit-;
}

.types {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 5px;
}

.icon {
	display: block;
	border-radius: 100%;
	height: 30px;
	width: 30px;
}

.bug {
	background: url('/type-icons/bug.svg') no-repeat 50% / 60%, #92bc2c;
}

.dark {
	background: url('/type-icons/dark.svg') no-repeat 50% / 60%, #595761;
}

.dragon {
	background: url('/type-icons/dragon.svg') no-repeat 50% / 60%, #0c69c8;
}

.electric {
	background: url('/type-icons/electric.svg') no-repeat 50% / 60%, #f2d94e;
}

.fire {
	background: url('/type-icons/fire.svg') no-repeat 50% / 60%, #fba54c;
}

.fairy {
	background: url('/type-icons/fairy.svg') no-repeat 50% / 60%, #ee90e6;
}

.fighting {
	background: url('/type-icons/fighting.svg') no-repeat 50% / 60%, #d3425f;
}

.flying {
	background: url('/type-icons/flying.svg') no-repeat 50% / 60%, #a1bbec;
}

.ghost {
	background: url('/type-icons/ghost.svg') no-repeat 50% / 60%, #5f6dbc;
}

.grass {
	background: url('/type-icons/grass.svg') no-repeat 50% / 60%, #5fbd58;
}

.ground {
	background: url('/type-icons/ground.svg') no-repeat 50% / 60%, #da7c4d;
}

.ice {
	background: url('/type-icons/ice.svg') no-repeat 50% / 60%, #75d0c1;
}

.normal {
	background: url('/type-icons/normal.svg') no-repeat 50% / 60%, #a0a29f;
}

.poison {
	background: url('/type-icons/poison.svg') no-repeat 50% / 60%, #b763cf;
}

.psychic {
	background: url('/type-icons/psychic.svg') no-repeat 50% / 60%, #fa8581;
}

.rock {
	background: url('/type-icons/rock.svg') no-repeat 50% / 60%, #c9bb8a;
}

.steel {
	background: url('/type-icons/steel.svg') no-repeat 50% / 60%, #5695a3;
}

.water {
	background: url('/type-icons/water.svg') no-repeat 50% / 60%, #539ddf;
}
